body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#widgetContainer {
    width: 630px;
    height: 355px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #CDCDCD 100%);
    border: 2px solid #b7b7b7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hidden {
    position: relative;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

#header {
    width: 630px;
    height: 46px;
    background-color: #279bd6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid #fafafa;
    box-shadow: 0px 5px 15px -10px #888;
}

#header #title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 5px;
    left: 15px;
    float: left;
}

.beta-ribbon {
    position: relative;
    top: 0px;
    right: 0px;
    width: 91px;
    height: 47px;
    float: right;
    background-image:url('../../img/beta.new.png');
}

#footer {
    font-size: 12px;
    position: absolute;
    top: 330px;
    left: 40px;
    width: 570px;
    height: 28px;
    border: 1px solid #098aaa;
    border-radius: 8px;
    background-color: #02a8cc;
    display:inline-block;
    vertical-align:middle
}

#footer #social {
    float: right;
    top: 2px;
    position: relative;
    right: 5px;
}

#footer #social .button {
    border-radius: 5px;
    width: 28px;
    height: 26px;
    float: right;
}

#footer #social .button.twitter {
    background-image: url('../../img/share_twitter.png');
}

#footer #social .button.facebook {
    background-image: url('../../img/share_facebook.png');
}

#footer #social .button.google {
    background-image: url('../../img/share_google.png');
}

#footer #poweredText {
    float: left;
    top: 6px;
    position: relative;
    left: 7px;
}

#footer #hpLogo {
    top: -2px;
    left: 13px;
    position: relative;
}

#footer #cloudifysLogo {
    left: 23px;
    position: relative;
}

#logContainer {
    color: #fff;
    position: relative;
    height: 140px;
    width: 525px;
    top: 5px;
    left: 28px;
    overflow-y: hidden;
    border-radius: 10px;
    background-color: #01a7cb;
    border: 3px solid #fff;
    box-shadow: 0px 5px 15px -5px #888;
}

#log {
    font-size: 14px;
    list-style-type: none;
    height: 120px;
    overflow-y: hidden;
}

#log li.error {
    color: #E95625;
    font-size: 16px;
    font-weight: bold;
}

#log li.important {
    font-size: 16px;
    font-weight: bold;
}

#log li.important a {
    color: #F09927;
}

#log li::-moz-selection,
#log li a::-moz-selection {
    background-color: #F09927;
    color: #FFF;
}

#log li::selection,
#log li a::selection {
    background-color: #F09927;
    color: #FFF;
}

#video_container {
    position: relative;
    top: 12px;
    left: 30px;
    background-color: #000;
    width: 280px;
    height: 108px;
    border: 1px solid #fff;
    float: left;
}

#video_container object {
    position: absolute;
    left: 20px;
    bottom: 65px;
}

#video_container object, #video_container embed {
    height: 108px;
    width: 280px;
}

.advanced_section {
    width: 280px;
    height: 108px;
    position: relative;
    top: 12px;
    left: 40px;
    background-color: #fff;
    border: 1px solid #01a5c9;
    float: left;
}

.advanced_section.collapsed {
    height: 46px;
    bottom: 177px;
}

.advanced_section.collapsed .advanced_form {
    display: none;
}

.advanced_section .remember_creds {
    display: none;
}

.advanced_section.should_remember .remember_creds {
    display: block;
}

.advanced_section #advancedArrow {
    width: 9px;
    height: 9px;
    background-image: url('../../img/advanced_arrow.new.png');
    position: relative;
    top: 6px;
    left: 24px;
    float: left;
}

.advanced_section #advancedTitle {
    position: relative;
    left: 20px;
    top: 3px;
    float: left;
    color: #007b96;
    font-size: 14px;
}

.advanced_form {
    position: relative;
    top: 7px;
}

.advanced_section .advanced_form input {
    width: 240px;
    height: 20px;
    margin-bottom: 5px;
    padding: 0 5px;
    left: 20px;
    position: relative;
    background-color: #e6e6e6;
    border-style: solid;
    border-color: #9abac1;
    border-width: 1px;
}

.remember_creds {
    z-index: 2;
    background: #ECECEC;
    position: absolute;
    height: 154px;
    width: 280px;
    margin-left: -12px;
    margin-top: 2px;
}

.remember_creds .remember_me_title {
    margin: auto;
    border-bottom: 1px solid;
    width: 160px;
    padding-top: 10px;
    text-align: center;
}

.remember_creds .remember_option {
    text-align: center;
    margin-top: 10px;
}

.remember_creds .remember_option button {
    height: 35px;
    width: 133px;
}

#controls {
    position: absolute;
    top: 86px;
    left: 496px;
    height: 100px;
}

#controls .button {
    height: 120px;
    width: 120px;
    position: absolute;
    background-color: #2c2b2b;
    border-radius: 70px;
    border: 5px solid #eaeaea;
}

#controls .button:hover {
    cursor: pointer;
}

#start_btn {
    /*background: url("/img/play_button_sprite.png") 0 -336px no-repeat;*/
    width: 0px;
    height: 0px;
    top: 37px;
    left: 50px;
    position: relative;
    border-radius: 2px;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 30px solid #ffb217;
}

#stop_btn {
    /*background: url("/img/play_button_sprite.png") 0 -112px no-repeat;*/
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    top: 37px;
    position: relative;
    left: 37px;
}

#patent_pending {
  font-size: 10px;
  top: 13px;
  left: 218px;
  list-style-type: none;
  position: absolute;
  color: black;
  font-family: "Helvetica Neue";
}

#time_left {
  position: absolute;
  color: white;
  top: 199px;
  left: 332px;
  font-size: 14px;
}

#time_left_counter {
  font-weight: bold;
}

.form-footer-links {
    margin-right: 5px;
    font-size: 12px;
    top: 20px;
    right: 10px;
    float: right;
}

.form-footer-links a {
    position: relative;
    color: #007b96;
    text-decoration: none;
}

.form-footer-links a:hover:after {
    content: 'If you\2019re an HP Cloud Services User, Use the Api Keys in the HP Cloud Console to get the cloud credentials. The screen shot below outlines the properties you need retrieve from the HPCS console:';
    position: absolute;
    bottom: 15px;
    right: 0;
    display: block;
    width: 350px;
    height: 310px;
    border: 1px solid #00B4DA;
    padding: 12px;
    background: #e6e6e6 url("/img/demo/hp-tooltip.jpg") 50% 100% no-repeat;
    color: #213540;
    box-shadow: 1px 1px 7px #777;
}

#embed_btn {
    cursor: pointer; }

#embed-code-box {
    position: relative;
    bottom: 195px;
    left: 35px;
    width: 440px;
    height: 190px;
    padding: 8px 12px 12px;
    overflow: hidden;
    font-size: .9em;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 2px 1px 12px #555;
}

#embed-code-box h3, #embed-code-box p {
    margin: 0;
    padding: 3px 0;
    text-align: center;
    line-height: 1.2;
}

#embed-code-box p {
    padding-bottom: 8px;
}

#embed-code-box textarea {
    width: 416px;
    height: 128px;
    padding: 5px 12px;
    background-color: #333;
    color: #eee;
}

#embed-code-box .close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 29px;
    height: 29px;
    background: url("/img/icons/close-button.png") 50% 50% no-repeat;
    cursor: pointer;
}




/*
#links {
  list-style-type: none;
  position: absolute;
  top: 185px;
  left: -9px;
  font-size: 14px; }
  #links a {
    color: black; }
  #links li {
    float: left;
    margin-right: 9px;
    background: url("/img/arrow.png") no-repeat left top;
    background-position-y: 2px;
    padding: 0px 0px 0px 14px; }
    #links li.mock .mock_text {
      display: inline; }
    #links li.mock a {
      display: none; }
    #links li .mock_text {
      display: none; }
    #links li a {
      display: inline; }
*/

/*
.brand_btns {
  margin-bottom: -6px;
  margin-right: 8px; }
*/

/*
.download-link:before {
  background-image: url("/public/img/icons/download_arrow.png");
  display: inline-block;
  width: 11px;
  height: 15px;
  z-index: 10;
  content: "";
  background-repeat: no-repeat;
  position: relative;
  margin-top: -4px;
  margin-left: -10px;
  top: -3px; }
*/

/*
    .advanced_section.collapsed .advanced_header .advanced_title:before {
      background: url("/public/img/advanced_bulletin.png") 0 -16px no-repeat; }

  .advanced_section .advanced_header {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 7px; }
    .advanced_section .advanced_header .advanced_title {
      font-size: 17px;
      color: #00586B;
      text-decoration: none;
      cursor: pointer; }
      .advanced_section .advanced_header .advanced_title:before {
        content: "";
        display: inline-block;
        height: 16px;
        width: 20px;
        background: url("/public/img/advanced_bulletin.png") 0 3px no-repeat; }

  .advanced_section #pemFileLink {
    float: right;
    display: none;
    bottom: 195px;
    margin-right: 12px;
    z-index: 10;
    background-color: #87CEFA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px 4px 4px 12px;
    font-size: 10px;
    font-weight: bold; }
*/

/*
#advanced form input {
  position: absolute;
  height: 21px;
  width: 220px;
  border: 0px none white;
  box-shadow: none; }

#advanced {
  background-image: url("/img/advanced_form.png");
  width: 272px;
  height: 158px;
  position: absolute;
  bottom: 65px;
  right: 20px; }

#show_advanced {
  position: absolute;
  bottom: 178px;
  right: 20px; }

#advanced form input:-webkit-input-placeholder {
  color: #999; }

#advanced form input:-moz-placeholder {
  color: #999; }

#advanced form input:-ms-input-placeholder {
  color: #999; }

#advanced form input:focus {
  outline: none; }

#advanced form input[name="hpcs_key"] {
  top: 50px;
  left: 15px; }

#advanced form input[name="hpcs_secret_key"] {
  top: 96px;
  left: 15px; }
*/

/*
#walkthrough {
  position: absolute;
  background: url("/public/img/demo/walkthrough.png") -10px -15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #walkthrough.no_link {
    background: url("/public/img/demo/walkthrough-no-link.png") -10px -15px; }
  #walkthrough a {
    color: white;
    position: absolute;
    left: 10px;
    top: 10px; }
*/

/*
.log-ellipsis {
  display: none; }
  .log-ellipsis:last-child {
    display: list-item; }
*/
