body {
    background: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #DADADA;
    padding-bottom: 20px;
}

.mainContainer {
    width: 900px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.addHtmlContainer {
    width: 900px;
    height: 400px;
}

.selectionBox {
    width: 390px;
    height: 300px;
    float: left;
    font-size: 18px;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
    padding-top: 10px;
}

#selectionButtons {
    float: left;
    width: 110px;
    height: 45px;
    position: relative;
    margin: 5px;
    top: 110px;
    left: 8px;
}

.selectionBtn {
    font-size: 14px;
    width: 95px;
    height: 30px;
    float: left;
    border: 0px solid transparent;
    margin-bottom: 5px;
    cursor: pointer;
}

.selectionBtn:hover {
    color: #fff;
}

#addBtn {
    background-color: #00ab00;
}

#removeBtn {
    background-color: #df0000;
}

#htmlInput {
    position: relative;
    width: 895px;
    height: 300px;
    border: 1px solid #e8e8e8;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

#listSubmitBtn {
    margin-top: 10px;
    margin-right: 5px;
    background-color: #cecece;
    float: right;
}

#htmlSubmitBtn {
    position: relative;
    float: right;
    top: 10px;
    right: 0px;
}

#previewBtn {
    position: relative;
    right: 10px;
    top: 10px;
    float: right;
}

#backBtn {
    position: relative;
    float: left;
    top: 10px;
    right: 0px;
}