body {
    font-family: "Helvetica Neue Ultra Light", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(248, 248, 248);
    margin-top: 0;
    height: 40px;
    line-height: 58px;
    color: #000;
    font-weight: normal;
    border-bottom: 1px solid rgb(200, 199, 204);
}

.mainContainer {
    width: 900px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.viewTitle {
    width: 900px;
    text-align: center;
    height: 40px;
    font-size: 18px;
}

.addHtmlContainer {
    width: 900px;
    height: 400px;
}

.selectionBox {
    width: 390px;
    height: 300px;
    float: left;
    font-size: 18px;
    border: 1px solid rgb(200, 199, 204);
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Helvetica Neue Ultra Light", Helvetica, Arial, sans-serif;
    font-weight:300;
}

#selectionButtons {
    float: left;
    width: 110px;
    height: 45px;
    position: relative;
    margin: 5px;
    top: 110px;
    left: 8px;
}

.selectionBtn {
    font-size: 14px;
    width: 95px;
    height: 30px;
    float: left;
    border: 0px solid transparent;
    margin-bottom: 5px;
    cursor: pointer;
}

.selectionBtn:hover {
    color: #fff;
}



#addBtn {
    color: #69bd45;
    background-color: transparent;
}

#removeBtn {
    color: #ee3658;
    background-color: transparent;
}

#htmlInput {
    position: relative;
    width: 895px;
    height: 300px;
    border: 1px solid #e8e8e8;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Helvetica Neue Ultra Light", Helvetica, Arial, sans-serif;
    font-weight:300;
}

#listSubmitBtn {
    margin-top: 10px;
    margin-right: 5px;
    background-color: transparent;
    float: right;
    color: #0099cc;
}

#listSubmitBtn.disabled {
    color: rgb(200, 199, 204);
}

#htmlSubmitBtn {
    position: relative;
    float: right;
    top: 10px;
    right: 0px;
    background-color: transparent;
    color: #0099cc;
}

#htmlSubmitBtn.disabled, #listSubmitBtn.disabled, #previewBtn.disabled {
    color: rgb(200, 199, 204);
}

#previewBtn {
    position: relative;
    right: 10px;
    top: 10px;
    float: right;
    background-color: transparent;
    color: #0099cc;
}

#backBtn {
    position: relative;
    float: left;
    top: 10px;
    right: 0px;
    background-color: transparent;
    color: #0099cc;
}